@charset "UTF-8";

body {
	margin: 50px;
	margin-left : 200px;
	font-family: "나눔스퀘어라운드";
}


.title {
	font-size: ;
	background-color: #369;
	color: #FFFFFF;
	height: 100px;
}

.tbtype {
	display: block;
	overflow: hidden;
    margin-bottom: 15px;
    border-top: 2px solid #008c96;
    border-bottom: 1px solid #9adfe3;
    wdith:760px;
    heigth:355px;
    
}

.tbtype_type2 {
	display:table;
	
	font-size: ;
	height: 150px;
	border-top: 2px solid #33ffff;
	border-bottom: 2px solid #33ffff; 
}

.tbtype_type2 td{
	align : center;
	border-top: 1px solid #33ffff;
	border-radius: 1px solid #33ffff;
	border-right: 1px solid #33ffff;
}
.tbtype_type2 th{

	background-color: #3cd1ca;
	color : #ffffff;
	border-top: 1px solid #33ffff;
	border-style : 1px solid #444444;
	border-right: 1px solid #ffffff;
}