@charset "UTF-8";



#contents {
    margin: 20px 10%;
    padding: 20px;
    font-size: 15px;
    background-color: #fff;
}

.title {
	font-size: ;
	background-color: #369;
	color: #FFFFFF;
	height: 100px;
}

.tbtype {
	display: block;
	overflow: hidden;
    margin-bottom: 15px;
    border-top: 2px solid #008c96;
    border-bottom: 1px solid #9adfe3;
    wdith:760px;
    heigth:355px;
    
}

.tbtype_type2 {
	display:table;
	
	font-size: ;
	height: 150px;
	border-top: 2px solid #444444;
	border-bottom: 2px solid #444444; 
}

.tbtype_type2 td{
	/* align : center; */
	border-top: 1px solid #444444;
	border-radius: 1px solid #444444;
}
.tbtype_type2 th{

	background-color: #3cd1ca;
	color : #ffffff;
	border-top: 1px solid #444444;
	border-style : 1px solid #444444;
}